<dialog id="my-dialog" style="border: 5px solid lightblue; min-width: 300px">
    <div class="card">
        <div class="card-header">Notification!</div>
        <div class="card-body">
            <div class="alert alert-@_alertType">@_message</div>
        </div>
        <div class="card-footer">
            <form method="dialog">
                <button class="btn btn-@_alertType float-end">Okay</button>
            </form>
        </div>
    </div>
</dialog>

@code {
    private string _alertType { get; set; } = string.Empty;
    private string _message { get; set; } = string.Empty;

    public void SetDialogValues(string alertType, string message)
    {
        _alertType = alertType;
        _message = message;
        StateHasChanged();
    }

    public async Task ShowMessage() => await js.InvokeVoidAsync("ShowDialog");
}
