@if (AllProducts is not null)
{
    <div class="container-fluid">
        <div class="row featured__filter">
            @foreach (var product in AllProducts!.OrderBy(p => p.Featured))
            {
                <div class="col-lg-2 col-md-3 col-sm-6 border-success">
                    <div class="featured__item" style="width:200px">
                        <img src="@product.Base64Img" width="150" height="200"/>
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart text-danger"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6 class="text-primary">@product.Name</h6>
                        <h5 class="text-danger">@product.Price.ToString("$#.##")</h5>
                    </div>
                </div>
            }
        </div>
    </div>
}

@code {
    [Parameter] public List<Product> AllProducts { get; set; } = new();
}
